/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.sass */
html {
  min-width: 960px;
}

/* line 19, ../sass/screen.sass */
.header_top {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
}

/* line 30, ../sass/screen.sass */
.logo {
  width: 130px;
  height: 45px;
  margin-top: 26px;
  margin-left: 54px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 84px auto;
}

/* line 41, ../sass/screen.sass */
.menu {
  width: 60px;
  height: 45px;
  margin-top: 26px;
  margin-right: 26px;
  float: right;
  background-image: url(../img/Menu.png);
  background-repeat: no-repeat;
  background-size: 40px auto;
}

/* line 53, ../sass/screen.sass */
.under_header {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../img/Top-pict.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 67, ../sass/screen.sass */
.under_header_text {
  position: relative;
  width: 500px;
  margin: 164px auto 210px auto;
}

/* line 73, ../sass/screen.sass */
.main_text {
  position: relative;
  width: 460px;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: "OpenSansSemiBold";
}

/* line 84, ../sass/screen.sass */
.ander_main_text {
  color: #fff;
  font-size: 14;
  margin-top: 26px;
  text-align: center;
  font-family: "OpenSansRegular";
  line-height: 1.2;
}

/* line 92, ../sass/screen.sass */
.ander_top_pikture {
  position: relative;
  height: 300px;
}

/* line 98, ../sass/screen.sass */
.slide_buttons {
  position: relative;
  height: 38px;
  width: 100px;
  margin: 0 auto;
}

/* line 106, ../sass/screen.sass */
.slide_buttons_box {
  width: 120px;
  height: 26px;
  margin: 10px auto;
}

/* line 114, ../sass/screen.sass */
.button1 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 26px;
}
/* line 123, ../sass/screen.sass */
.button1:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 136, ../sass/screen.sass */
.button2 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  float: left;
  margin: 6px 53px;
}
/* line 146, ../sass/screen.sass */
.button2:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 155, ../sass/screen.sass */
.button3 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 80px;
  padding: 3px;
}
/* line 165, ../sass/screen.sass */
.button3:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 175, ../sass/screen.sass */
.ander_top_pikture {
  width: 100%;
  position: relative;
  z-index: 999;
}

/* line 182, ../sass/screen.sass */
.topick_block {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  z-index: 999;
}

/* line 195, ../sass/screen.sass */
.topick_block_text {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 30px auto 0 auto;
  font-family: "OpenSansBold";
  font-size: 34px;
}

/* line 205, ../sass/screen.sass */
.ander_topick_block {
  position: relative;
  width: 100%;
}

/* line 212, ../sass/screen.sass */
.includ_ander_topick_block {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

/* line 219, ../sass/screen.sass */
.includ_ander_topick_block .row, .container {
  width: 100%;
  margin: 0 auto;
}

/* line 225, ../sass/screen.sass */
.inf_block {
  width: 180px;
  height: 176px;
  margin: 0 auto;
  margin-bottom: 3px;
}

/* line 233, ../sass/screen.sass */
.inf_block_pict1 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px auto;
}

/* line 244, ../sass/screen.sass */
.inf_block_pict2 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px auto;
}

/* line 255, ../sass/screen.sass */
.inf_block_pict3 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 266, ../sass/screen.sass */
.inf_block_pict4 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 277, ../sass/screen.sass */
.inf_block_main_text {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansSemiBold";
  text-align: center;
  font-size: 16px;
  padding: 3px 0px 0px 3px;
}

/* line 288, ../sass/screen.sass */
.inf_block_text {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansRegular";
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

/* line 301, ../sass/screen.sass */
.our_latest_works_block {
  position: relative;
  width: 100%;
  clear: both;
}

/* line 308, ../sass/screen.sass */
.our_latest_works_block_head {
  position: relative;
  top: 40px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 32px;
  font-family: "OpenSansSemiBold";
}

/* line 318, ../sass/screen.sass */
.piktures_block1_top {
  position: relative;
  height: auto;
}

/* line 322, ../sass/screen.sass */
.piktures_block1 {
  position: relative;
  width: 100%;
}

/* line 328, ../sass/screen.sass */
.piktures_block1_1 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/Green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 339, ../sass/screen.sass */
.piktures_block1_2 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/plainmilitery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 350, ../sass/screen.sass */
.piktures_block1 .col-sm-6, .col-md-6 {
  margin: 0;
  padding: 0;
}

/* line 356, ../sass/screen.sass */
.piktures_block1_ander {
  width: 100%;
}

/* line 360, ../sass/screen.sass */
.piktures_block1_ander .col-sm-6, .col-md-6, .col-lg-3 {
  margin: 0;
  padding: 0;
}

/* line 364, ../sass/screen.sass */
.piktures_block2_1 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Sity.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 372, ../sass/screen.sass */
.piktures_block2_2 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Verifon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 380, ../sass/screen.sass */
.piktures_block2_3 {
  width: 100%;
  height: 150px;
  background-image: url(../img/GoldPoint.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 388, ../sass/screen.sass */
.piktures_block2_4 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Lazard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 397, ../sass/screen.sass */
.buttons_box {
  width: 80px;
  margin: 0 auto;
  height: 30px;
}

/* line 405, ../sass/screen.sass */
.button4 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 18px;
  padding: 3px;
}
/* line 415, ../sass/screen.sass */
.button4:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 421, ../sass/screen.sass */
.button5 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 46px;
  padding: 3px;
}
/* line 431, ../sass/screen.sass */
.button5:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 437, ../sass/screen.sass */
.button1, .button2, .button3, .button4, .button5 {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
}

/* line 443, ../sass/screen.sass */
.about_us_block_pictures {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #ac94ea;
  z-index: 999;
}

/* line 450, ../sass/screen.sass */
.about_us_block_pictures .container {
  width: 85%;
}

/* line 454, ../sass/screen.sass */
.about_us_block {
  height: 60px;
  margin-bottom: 10px;
}

/* line 458, ../sass/screen.sass */
.about_us_text_block {
  font-size: 30px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  font-family: OpenSansBold;
}

/* line 467, ../sass/screen.sass */
.slide_buttons_box_2 {
  height: 30px;
  margin: 24px;
}

/* line 473, ../sass/screen.sass */
.icons_maintext_nambers {
  height: 120px;
  width: 200px;
  margin: 0 auto;
}

/* line 480, ../sass/screen.sass */
.about_us_block_pictures_icon {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
}

/* line 488, ../sass/screen.sass */
.about_us_block_pictures_nambers {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 70px;
  left: 105px;
}

/* line 496, ../sass/screen.sass */
.about_us_block_pictures_maintext {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 25px;
  left: 105px;
}

/* line 506, ../sass/screen.sass */
.ander_pikture {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #f2f2f2;
}

/* line 512, ../sass/screen.sass */
.about_us_block_pictures_main {
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 519, ../sass/screen.sass */
.about_us_block_pictures_icon1 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 530, ../sass/screen.sass */
.about_us_block_pictures_icon2 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 541, ../sass/screen.sass */
.about_us_block_pictures_icon3 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 552, ../sass/screen.sass */
.about_us_block_pictures_icon4 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 563, ../sass/screen.sass */
.about_us_block_pictures_maintext h3 {
  font-size: 40px;
  font-family: OpenSansRegular;
}

/* line 567, ../sass/screen.sass */
.about_us_block_pictures_nambers h6 {
  font-size: 14px;
  font-family: OpenSansRegular;
}

/* line 571, ../sass/screen.sass */
.ander_about_us_block {
  position: relative;
  width: 100%;
  height: 320px;
  position: relative;
  background-image: url(../img/about_main-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

/* line 584, ../sass/screen.sass */
.button_more_about_us {
  position: relative;
  width: 260px;
  height: 50px;
  margin: 40px auto;
  background-color: #5dc3e9;
  font-size: 17px;
  font-family: OpenSansLight;
  color: #fff;
  text-align: center;
  padding: 0.85em 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 598, ../sass/screen.sass */
.button_more_about_us:hover {
  background-color: #057D9F;
}

/* line 604, ../sass/screen.sass */
.what_people_say_block {
  width: 100%;
  height: 540px;
}

/* line 609, ../sass/screen.sass */
.what_people_say_main_block {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 90px auto 0 auto;
  font-size: 32px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 621, ../sass/screen.sass */
.what_people_say_block_ander_text {
  position: relative;
  width: 580px;
  height: 180px;
  margin: 26px auto 0;
  font-family: OpenSansSemiBold;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  line-height: 1.6;
}

/* line 633, ../sass/screen.sass */
.what_people_say_block_ander_text span {
  color: #FF5900;
}

/* line 636, ../sass/screen.sass */
.what_people_say_line_block {
  width: 216px;
  height: 1px;
  background-color: gray;
  margin: 10px auto 0;
  opacity: 0.5;
}

/* line 644, ../sass/screen.sass */
.what_people_say_block_barr {
  width: 240px;
  height: 18px;
  margin: 20px auto 0;
  font-size: 11px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 654, ../sass/screen.sass */
.firms {
  width: 100%;
  height: 200px;
  background-color: #363636;
}

/* line 659, ../sass/screen.sass */
.firm_block1 {
  height: 60px;
  position: relative;
  margin: 34px auto 0 auto;
  width: 85%;
}

/* line 665, ../sass/screen.sass */
.firm_block2 {
  height: 64px;
  position: relative;
  margin: 16px auto 0 auto;
  width: 85%;
}

/* line 672, ../sass/screen.sass */
.firm_block_init {
  margin: 0 auto;
  background-color: red;
  width: 160px;
  height: 60px;
}

/* line 678, ../sass/screen.sass */
.firm_block_init1 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 688, ../sass/screen.sass */
.firm_block_init2 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order3.png);
  background-position: center 2px;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 698, ../sass/screen.sass */
.firm_block_init3 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 708, ../sass/screen.sass */
.firm_block_init4 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order1.png);
  background-position: center 16px;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 718, ../sass/screen.sass */
.firm_block_init5 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order3.png);
  background-position: 34px -10px;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 728, ../sass/screen.sass */
.firm_block_init6 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order4.png);
  background-position: 20px -3px;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 738, ../sass/screen.sass */
.firm_block_init7 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order1.png);
  background-position: 20px 16px;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 748, ../sass/screen.sass */
.firm_block_init8 {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background-image: url(../img/order2.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 126px auto;
  z-index: 999;
}

/* line 759, ../sass/screen.sass */
.latest_blog_posts {
  height: 140px;
  width: 100%;
}

/* line 764, ../sass/screen.sass */
.latedt_blog_posts_main_text {
  position: relative;
  height: 50px;
  margin: 70px auto;
  width: 320px;
  font-family: OpenSansSemiBold;
  font-size: 30px;
  text-align: center;
}

/* line 774, ../sass/screen.sass */
.blog {
  position: relative;
  width: 100%;
  height: 370px;
}

/* line 780, ../sass/screen.sass */
.blog_cont1 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 791, ../sass/screen.sass */
.blog_cont2 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 802, ../sass/screen.sass */
.blog_cont3 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 813, ../sass/screen.sass */
.blog_cont4 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 824, ../sass/screen.sass */
.buttons_box3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 24px auto;
}

/* line 833, ../sass/screen.sass */
.blog_cont_up_text1 {
  margin: 22px auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 30px;
  text-align: center;
  z-index: 999;
  font-size: 12px;
  font-family: OpenSansSemiBold;
}

/* line 850, ../sass/screen.sass */
.blog_cont_up_text1 span {
  font-family: OpenSansItalic;
}

/* line 853, ../sass/screen.sass */
.blog_cont_down_text1 {
  margin: 0px auto;
  position: absolute;
  top: -1px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 32px;
  margin: 49px auto;
  text-align: center;
  font-size: 18px;
  font-family: OpenSansBold;
}

/* line 869, ../sass/screen.sass */
.want_to_work_with_us_block {
  position: relative;
  width: 100%;
  height: 340px;
}

/* line 876, ../sass/screen.sass */
.want_to_work_with_us_main_text {
  position: relative;
  height: 40px;
  width: 360px;
  margin: 68px auto 0 auto;
  font-family: OpenSansBold;
  font-size: 32px;
  text-align: center;
}

/* line 886, ../sass/screen.sass */
.ping_us_today {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-family: OpenSansLight;
  font-size: 17px;
}

/* line 896, ../sass/screen.sass */
footer {
  height: 286px;
  width: 100%;
  background-color: #292a2e;
}

/* line 902, ../sass/screen.sass */
.main_init_block {
  position: relative;
  width: 80%;
  height: 260px;
  z-index: 999;
  margin: 10px auto;
}

/* line 910, ../sass/screen.sass */
.contant {
  position: relative;
  width: 100%;
  height: 160px;
  font-family: OpenSansSemiBold;
  color: #fff;
}

/* line 918, ../sass/screen.sass */
.line {
  position: relative;
  width: 96%;
  height: 2px;
  background-color: #aaaaaa;
  margin: 40px auto 0 auto;
}

/* line 926, ../sass/screen.sass */
.box_contact_as {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 935, ../sass/screen.sass */
.box_adres {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  font-size: 10px;
  line-height: 18px;
}

/* line 944, ../sass/screen.sass */
.box_email {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 110px;
  font-size: 10px;
  line-height: 18px;
}

/* line 953, ../sass/screen.sass */
.box_company {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 962, ../sass/screen.sass */
.box_inf {
  position: absolute;
  height: 110px;
  width: 100%;
  margin-top: 50px;
  font-size: 10px;
  line-height: 18px;
}

/* line 971, ../sass/screen.sass */
.box_inf a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
}

/* line 977, ../sass/screen.sass */
.box_news {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 985, ../sass/screen.sass */
.box_picture {
  position: absolute;
  height: 70px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
  background-image: url(../img/pict_footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  z-index: 999;
}

/* line 998, ../sass/screen.sass */
.soshial_buttons {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 90px auto;
}

/* line 1005, ../sass/screen.sass */
.soshial_buttons_float {
  width: 100px;
  height: 30px;
  float: right;
  overflow: hidden;
}

/* line 1012, ../sass/screen.sass */
.soshial_buttons1 {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../img/in.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 1022, ../sass/screen.sass */
.soshial_buttons2 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 35px;
  background-image: url(../img/tv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 1033, ../sass/screen.sass */
.soshial_buttons3 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 70px;
  background-image: url(../img/fa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 1044, ../sass/screen.sass */
.bottom_footer {
  position: relative;
  width: 96%;
  height: 30px;
  font-size: 10px;
  font-family: OpenSansSemiBold;
  color: #fff;
  margin: 30px auto 0px auto;
}

/* line 1053, ../sass/screen.sass */
.bottom_footer_left {
  width: 160px;
  height: 30px;
  float: left;
  overflow: hidden;
}

/* line 1059, ../sass/screen.sass */
.bottom_footer_right {
  width: 220px;
  height: 30px;
  float: right;
  overflow: hidden;
}

@media only screen and (max-device-width: 480px) {
  /* line 1067, ../sass/screen.sass */
  .button1 {
    height: 88px;
    width: 88px;
  }

  /* line 1072, ../sass/screen.sass */
  .logo {
    width: 260px;
    height: 90px;
    margin-top: 54px;
    margin-left: 54px;
    background-size: 200px auto;
  }

  /* line 1081, ../sass/screen.sass */
  .menu {
    width: 120px;
    height: 90px;
    margin-top: 54px;
    margin-right: 54px;
    float: right;
    background-size: 130px auto;
  }

  /* line 1091, ../sass/screen.sass */
  .under_header {
    height: 1600px;
    background-position: -600px 0;
    background-repeat: no-repeat;
  }

  /* line 1099, ../sass/screen.sass */
  .under_header_text {
    width: 90%;
    height: 100%;
  }

  /* line 1106, ../sass/screen.sass */
  .main_text {
    width: 100%;
    margin: 300px auto 0 auto;
    text-align: center;
    font-family: "OpenSansSemiBold";
  }

  /* line 1113, ../sass/screen.sass */
  .main_text h6 {
    color: #fff;
    font-size: 106px;
  }

  /* line 1117, ../sass/screen.sass */
  .ander_main_text {
    font-size: 50px;
    margin-top: 70px;
  }

  /* line 1121, ../sass/screen.sass */
  .slide_buttons {
    margin-top: 220px;
    width: 100px;
    margin: 0 auto;
  }

  /* line 1126, ../sass/screen.sass */
  .slide_buttons .container, .row {
    padding: 0;
  }

  /* line 1129, ../sass/screen.sass */
  .slide_buttons_box {
    width: 50px;
    height: 30px;
    padding: 0;
  }
}
