/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.sass */
.header_top {
  position: absolute;
  width: 100%;
  height: 180px;
  z-index: 1;
}

/* line 29, ../sass/screen.sass */
.logo {
  width: 130px;
  height: 45px;
  margin-top: 26px;
  margin-left: 54px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 84px auto;
}

/* line 40, ../sass/screen.sass */
.menu {
  width: 60px;
  height: 45px;
  margin-top: 26px;
  margin-right: 26px;
  float: right;
  background-image: url(../img/Menu.png);
  background-repeat: no-repeat;
  background-size: 40px auto;
}

/* line 52, ../sass/screen.sass */
.under_header {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../img/Top-pict.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 66, ../sass/screen.sass */
.under_header_text {
  position: relative;
  width: 500px;
  margin: 164px auto 210px auto;
}

/* line 72, ../sass/screen.sass */
.main_text {
  position: relative;
  width: 460px;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: "OpenSansSemiBold";
}

/* line 83, ../sass/screen.sass */
.ander_main_text {
  color: #fff;
  font-size: 14;
  margin-top: 26px;
  text-align: center;
  font-family: "OpenSansRegular";
  line-height: 1.2;
}

/* line 91, ../sass/screen.sass */
.ander_top_pikture {
  position: relative;
  width: 100%;
  height: 260px;
  padding: 1px;
}

/* line 98, ../sass/screen.sass */
.slide_buttons {
  position: relative;
  height: 38px;
  width: 100px;
  margin: 0 auto;
}

/* line 106, ../sass/screen.sass */
.slide_buttons_box {
  width: 14px;
  height: 26px;
  margin: 0 auto;
}

/* line 114, ../sass/screen.sass */
.button1 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
}
/* line 123, ../sass/screen.sass */
.button1:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 136, ../sass/screen.sass */
.button2 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  float: left;
  margin-top: 6px;
}
/* line 147, ../sass/screen.sass */
.button2:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 156, ../sass/screen.sass */
.button3 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  padding: 3px;
}
/* line 166, ../sass/screen.sass */
.button3:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 179, ../sass/screen.sass */
.topick_block {
  position: relative;
  width: 100%;
  padding: 1px;
  margin: 10px auto 10px auto;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

/* line 193, ../sass/screen.sass */
.topick_block_text {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0px auto;
  font-family: "OpenSansBold";
  font-size: 34px;
}

/* line 203, ../sass/screen.sass */
.ander_topick_block {
  position: relative;
  width: 100%;
}

/* line 210, ../sass/screen.sass */
.includ_ander_topick_block {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

/* line 220, ../sass/screen.sass */
.inf_block {
  width: 200px;
  height: 176px;
  margin: 0 auto;
  margin-bottom: 3px;
}

/* line 228, ../sass/screen.sass */
.inf_block_pict1 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px auto;
}

/* line 239, ../sass/screen.sass */
.inf_block_pict2 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px auto;
}

/* line 250, ../sass/screen.sass */
.inf_block_pict3 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 261, ../sass/screen.sass */
.inf_block_pict4 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 272, ../sass/screen.sass */
.inf_block_main_text {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansSemiBold";
  text-align: center;
  font-size: 16px;
  padding: 3px 0px 0px 3px;
}

/* line 283, ../sass/screen.sass */
.inf_block_text {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansRegular";
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

/* line 296, ../sass/screen.sass */
.our_latest_works_block {
  position: relative;
  width: 100%;
  clear: both;
}

/* line 303, ../sass/screen.sass */
.our_latest_works_block_head {
  position: relative;
  top: 40px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 32px;
  font-family: "OpenSansSemiBold";
}

/* line 313, ../sass/screen.sass */
.piktures_block1_top {
  position: relative;
  height: auto;
}

/* line 317, ../sass/screen.sass */
.piktures_block1 {
  position: relative;
  width: 100%;
}

/* line 323, ../sass/screen.sass */
.piktures_block1_1 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/Green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 334, ../sass/screen.sass */
.piktures_block1_2 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/plainmilitery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 345, ../sass/screen.sass */
.piktures_block1 .col-sm-6, .col-md-6 {
  margin: 0;
  padding: 0;
}

/* line 351, ../sass/screen.sass */
.piktures_block1_ander {
  width: 100%;
}

/* line 355, ../sass/screen.sass */
.piktures_block1_ander .col-sm-6, .col-md-6, .col-lg-3 {
  margin: 0;
  padding: 0;
}

/* line 359, ../sass/screen.sass */
.piktures_block2_1 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Sity.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 367, ../sass/screen.sass */
.piktures_block2_2 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Verifon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 375, ../sass/screen.sass */
.piktures_block2_3 {
  width: 100%;
  height: 150px;
  background-image: url(../img/GoldPoint.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 383, ../sass/screen.sass */
.piktures_block2_4 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Lazard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 392, ../sass/screen.sass */
.buttons_box {
  width: 80px;
  margin: 0 auto;
  height: 30px;
}

/* line 400, ../sass/screen.sass */
.button4 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 18px;
  padding: 3px;
}
/* line 410, ../sass/screen.sass */
.button4:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 416, ../sass/screen.sass */
.button5 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 46px;
  padding: 3px;
}
/* line 426, ../sass/screen.sass */
.button5:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 432, ../sass/screen.sass */
.button1, .button2, .button3, .button4, .button5 {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
}

/* line 438, ../sass/screen.sass */
.about_us_block_pictures {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #ac94ea;
  padding: 1px;
  z-index: 999;
}

/* line 446, ../sass/screen.sass */
.about_us_block_pictures .container {
  width: 85%;
}

/* line 450, ../sass/screen.sass */
.about_us_block {
  height: 60px;
  margin-bottom: 10px;
}

/* line 454, ../sass/screen.sass */
.about_us_text_block {
  font-size: 30px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  padding: 1px;
  font-family: OpenSansBold;
}

/* line 464, ../sass/screen.sass */
.slide_buttons_box_2 {
  height: 30px;
  margin: 24px;
}

/* line 470, ../sass/screen.sass */
.icons_maintext_nambers {
  position: relative;
  padding: 1px;
  height: 120px;
  width: 260px;
  margin: 0 auto;
}

/* line 479, ../sass/screen.sass */
.about_us_block_pictures_icon {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
}

/* line 487, ../sass/screen.sass */
.about_us_block_pictures_nambers {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 70px;
  left: 105px;
}

/* line 495, ../sass/screen.sass */
.about_us_block_pictures_maintext {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 25px;
  left: 105px;
}

/* line 505, ../sass/screen.sass */
.ander_pikture {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #f2f2f2;
}

/* line 511, ../sass/screen.sass */
.about_us_block_pictures_main {
  padding: 1px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 519, ../sass/screen.sass */
.about_us_block_pictures_icon1 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 530, ../sass/screen.sass */
.about_us_block_pictures_icon2 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 541, ../sass/screen.sass */
.about_us_block_pictures_icon3 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 552, ../sass/screen.sass */
.about_us_block_pictures_icon4 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 563, ../sass/screen.sass */
.about_us_block_pictures_maintext h3 {
  font-size: 40px;
  font-family: OpenSansRegular;
  color: #fff;
}

/* line 568, ../sass/screen.sass */
.about_us_block_pictures_nambers h6 {
  font-size: 14px;
  font-family: OpenSansRegular;
  color: #fff;
}

/* line 574, ../sass/screen.sass */
.ander_about_us_block {
  position: relative;
  width: 100%;
  height: 320px;
  position: relative;
  background-image: url(../img/about_main-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

/* line 587, ../sass/screen.sass */
.button_more_about_us {
  position: relative;
  width: 260px;
  height: 50px;
  margin: 40px auto;
  background-color: #5dc3e9;
  font-size: 17px;
  font-family: OpenSansLight;
  color: #fff;
  text-align: center;
  padding: 0.85em 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 601, ../sass/screen.sass */
.button_more_about_us:hover {
  background-color: #057D9F;
}

/* line 607, ../sass/screen.sass */
.what_people_say_block {
  width: 100%;
  height: 540px;
}

/* line 612, ../sass/screen.sass */
.what_people_say_main_block {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 90px auto 0 auto;
  font-size: 32px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 624, ../sass/screen.sass */
.what_people_say_block_ander_text {
  position: relative;
  width: 580px;
  margin: 26px auto 0;
  font-family: OpenSansSemiBold;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  line-height: 1.6;
}

/* line 635, ../sass/screen.sass */
.what_people_say_block_ander_text span {
  color: #FF5900;
}

/* line 638, ../sass/screen.sass */
.what_people_say_line_block {
  width: 216px;
  height: 1px;
  background-color: gray;
  margin: 10px auto 0;
  opacity: 0.5;
}

/* line 646, ../sass/screen.sass */
.what_people_say_block_barr {
  width: 240px;
  height: 18px;
  margin: 20px auto 0;
  font-size: 11px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 656, ../sass/screen.sass */
.firms {
  width: 100%;
  height: 200px;
  background-color: #363636;
}

/* line 661, ../sass/screen.sass */
.firm_block1 {
  height: 60px;
  position: relative;
  margin: 34px auto 0 auto;
  width: 85%;
}

/* line 667, ../sass/screen.sass */
.firm_block2 {
  height: 64px;
  position: relative;
  margin: 16px auto 0 auto;
  width: 85%;
}

/* line 673, ../sass/screen.sass */
.firm_block_main {
  margin: 0 auto;
  width: 160px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 682, ../sass/screen.sass */
.firm_block_init {
  background-image: url(../img/order4.png);
}

/* line 685, ../sass/screen.sass */
.firm_block_init1 {
  background-image: url(../img/order4.png);
}

/* line 688, ../sass/screen.sass */
.firm_block_init2 {
  background-image: url(../img/order3.png);
}

/* line 691, ../sass/screen.sass */
.firm_block_init3 {
  background-image: url(../img/order2.png);
}

/* line 694, ../sass/screen.sass */
.firm_block_init4 {
  background-image: url(../img/order1.png);
}

/* line 697, ../sass/screen.sass */
.firm_block_init5 {
  background-image: url(../img/order3.png);
}

/* line 700, ../sass/screen.sass */
.firm_block_init6 {
  background-image: url(../img/order4.png);
}

/* line 703, ../sass/screen.sass */
.firm_block_init7 {
  background-image: url(../img/order1.png);
}

/* line 706, ../sass/screen.sass */
.firm_block_init8 {
  background-image: url(../img/order2.png);
}

/* line 709, ../sass/screen.sass */
.latest_blog_posts {
  padding: 1px;
  height: 140px;
  width: 100%;
}

/* line 715, ../sass/screen.sass */
.latedt_blog_posts_main_text {
  position: relative;
  height: 50px;
  margin: 70px auto;
  width: 320px;
  font-family: OpenSansSemiBold;
  font-size: 30px;
  text-align: center;
}

/* line 725, ../sass/screen.sass */
.blog {
  position: relative;
  width: 100%;
  height: 370px;
}

/* line 731, ../sass/screen.sass */
.blog_cont1 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 742, ../sass/screen.sass */
.blog_cont2 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 753, ../sass/screen.sass */
.blog_cont3 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 764, ../sass/screen.sass */
.blog_cont4 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 775, ../sass/screen.sass */
.buttons_box3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 24px auto;
}

/* line 784, ../sass/screen.sass */
.blog_cont_up_text1 {
  margin: 22px auto 0 auto;
  position: relative;
  width: 500px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  font-family: OpenSansSemiBold;
}

/* line 793, ../sass/screen.sass */
.blog_cont_up_text1 span {
  font-family: OpenSansItalic;
}

/* line 796, ../sass/screen.sass */
.blog_cont_down_text1 {
  margin: 0px auto;
  position: relative;
  width: 500px;
  height: 32px;
  text-align: center;
  font-size: 18px;
  font-family: OpenSansBold;
}

/* line 806, ../sass/screen.sass */
.want_to_work_with_us_block {
  padding: 1px;
  position: relative;
  width: 100%;
  height: 340px;
}

/* line 814, ../sass/screen.sass */
.want_to_work_with_us_main_text {
  position: relative;
  height: 40px;
  width: 360px;
  margin: 68px auto 0 auto;
  font-family: OpenSansBold;
  font-size: 32px;
  text-align: center;
}

/* line 824, ../sass/screen.sass */
.ping_us_today {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-family: OpenSansLight;
  font-size: 17px;
}

/* line 834, ../sass/screen.sass */
footer {
  height: 286px;
  width: 100%;
  background-color: #292a2e;
}

/* line 840, ../sass/screen.sass */
.main_init_block {
  position: relative;
  width: 80%;
  height: 260px;
  z-index: 999;
  margin: 10px auto;
}

/* line 848, ../sass/screen.sass */
.contant {
  position: relative;
  width: 100%;
  height: 160px;
  font-family: OpenSansSemiBold;
  color: #fff;
}

/* line 856, ../sass/screen.sass */
.line {
  position: relative;
  width: 96%;
  height: 2px;
  background-color: #aaaaaa;
  margin: 40px auto 0 auto;
}

/* line 864, ../sass/screen.sass */
.box_contact_as {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 873, ../sass/screen.sass */
.box_adres {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  font-size: 10px;
  line-height: 18px;
}

/* line 882, ../sass/screen.sass */
.box_email {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 110px;
  font-size: 10px;
  line-height: 18px;
}

/* line 891, ../sass/screen.sass */
.box_company {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 900, ../sass/screen.sass */
.box_inf {
  position: absolute;
  height: 110px;
  width: 100%;
  margin-top: 50px;
  font-size: 10px;
  line-height: 18px;
}

/* line 909, ../sass/screen.sass */
.box_inf a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
}

/* line 915, ../sass/screen.sass */
.box_news {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 923, ../sass/screen.sass */
.box_picture {
  position: absolute;
  height: 70px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
  background-image: url(../img/pict_footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  z-index: 999;
}

/* line 936, ../sass/screen.sass */
.soshial_buttons {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 90px auto;
}

/* line 943, ../sass/screen.sass */
.soshial_buttons_float {
  width: 100px;
  height: 30px;
  float: right;
  overflow: hidden;
}

/* line 950, ../sass/screen.sass */
.soshial_buttons1 {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../img/in.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 960, ../sass/screen.sass */
.soshial_buttons2 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 35px;
  background-image: url(../img/tv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 971, ../sass/screen.sass */
.soshial_buttons3 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 70px;
  background-image: url(../img/fa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 982, ../sass/screen.sass */
.bottom_footer {
  position: relative;
  width: 96%;
  height: 30px;
  font-size: 10px;
  font-family: OpenSansSemiBold;
  color: #fff;
  margin: 30px auto 0px auto;
}

/* line 991, ../sass/screen.sass */
.bottom_footer_left {
  width: 160px;
  height: 30px;
  float: left;
  overflow: hidden;
}

/* line 997, ../sass/screen.sass */
.bottom_footer_right {
  width: 220px;
  height: 30px;
  float: right;
  overflow: hidden;
}

/* line 1003, ../sass/screen.sass */
.slide_buttons_2 {
  width: 60px;
  margin: 20px auto 60px auto;
}

/* line 1007, ../sass/screen.sass */
.blog_cont_mb {
  padding: 1px;
}

/* line 1015, ../sass/screen.sass */
.container {
  width: 100%;
}

@media only screen and (max-device-width: 420px) {
  /* line 1023, ../sass/screen.sass */
  .logo {
    width: 260px;
    height: 90px;
    margin-top: 54px;
    margin-left: 54px;
    background-size: 200px auto;
  }

  /* line 1032, ../sass/screen.sass */
  .menu {
    width: 120px;
    height: 90px;
    margin-top: 54px;
    margin-right: 54px;
    float: right;
    background-size: 130px auto;
  }

  /* line 1042, ../sass/screen.sass */
  .under_header .container, .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* line 1047, ../sass/screen.sass */
  .under_header {
    height: 1600px;
    background-position: -600px 0;
    background-repeat: no-repeat;
  }

  /* line 1055, ../sass/screen.sass */
  .under_header_text {
    width: 90%;
    height: 100%;
  }

  /* line 1062, ../sass/screen.sass */
  .main_text {
    width: 100%;
    margin: 300px auto 0 auto;
    text-align: center;
    font-family: "OpenSansSemiBold";
  }

  /* line 1069, ../sass/screen.sass */
  .main_text h6 {
    color: #fff;
    font-size: 106px;
  }

  /* line 1073, ../sass/screen.sass */
  .ander_main_text {
    font-size: 50px;
    margin-top: 70px;
  }

  /* line 1077, ../sass/screen.sass */
  .slide_buttons {
    margin-top: 220px;
    width: 100px;
    margin: 180px auto 0 auto;
  }

  /* line 1082, ../sass/screen.sass */
  .slide_buttons .container, .row {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  /* line 1087, ../sass/screen.sass */
  .slide_buttons_box {
    width: 50px;
    height: 30px;
    padding: 0;
  }

  /* line 1094, ../sass/screen.sass */
  .slide_buttons {
    width: 150px;
    height: 70px;
  }

  /* line 1098, ../sass/screen.sass */
  .button_v {
    height: 0;
    width: 0;
  }

  /* line 1103, ../sass/screen.sass */
  .button1 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1108, ../sass/screen.sass */
  .button2 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1113, ../sass/screen.sass */
  .button3 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1118, ../sass/screen.sass */
  .ander_top_pikture {
    height: 100%;
  }

  /* line 1122, ../sass/screen.sass */
  .topick_block {
    width: 100%;
    height: 260px;
    margin: 0 auto;
  }

  /* line 1128, ../sass/screen.sass */
  .topick_block_text {
    width: 80%;
    height: 100px;
    text-align: center;
    font-size: 100px;
    margin: 100px auto 70px auto;
  }

  /* line 1137, ../sass/screen.sass */
  .ander_topick_block {
    height: 900px;
  }

  /* line 1140, ../sass/screen.sass */
  .includ_ander_topick_block {
    margin: 0 auto;
    width: 100%;
    height: 800px;
  }

  /* line 1146, ../sass/screen.sass */
  .inf_block {
    width: 98%;
    height: 500px;
    margin: 0 auto 140px auto;
  }

  /* line 1155, ../sass/screen.sass */
  .inf_block_main_text {
    height: 120px;
    width: 100%;
    margin: 30px auto 10px auto;
    font-size: 52px;
    padding: 3px 0px 0px 3px;
    font-family: OpenSansBold;
  }

  /* line 1164, ../sass/screen.sass */
  .inf_block_text {
    height: 300px;
    width: 425px;
    margin: 0 auto;
    text-align: center;
    font-size: 41px;
    line-height: 50px;
    padding: 1px;
  }

  /* line 1174, ../sass/screen.sass */
  .inf_block_pict1 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 190px auto;
  }

  /* line 1181, ../sass/screen.sass */
  .inf_block_pict2 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 150px auto;
  }

  /* line 1188, ../sass/screen.sass */
  .inf_block_pict3 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 140px auto;
  }

  /* line 1195, ../sass/screen.sass */
  .inf_block_pict4 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 130px auto;
  }

  /* line 1202, ../sass/screen.sass */
  .inf_block_main_text_2 {
    margin: 40px 0 0 0;
    height: 80px;
  }

  /* line 1207, ../sass/screen.sass */
  .piktures_block1_1 {
    height: 800px;
    background-size: 1700px auto;
    background-position: -690px -60px;
  }

  /* line 1212, ../sass/screen.sass */
  .piktures_block1 .container, .row {
    margin: 0;
    padding: 0;
  }

  /* line 1216, ../sass/screen.sass */
  .piktures_block1_2 {
    height: 800px;
    background-size: 1700px auto;
    background-position: center -140px;
  }

  /* line 1221, ../sass/screen.sass */
  .piktures_block2_3 {
    height: 800px;
    background-size: 3200px auto;
    background-position: -300px -350px;
  }

  /* line 1226, ../sass/screen.sass */
  .piktures_block2_4 {
    height: 800px;
    background-size: 2400px auto;
    background-position: -590px -100px;
  }

  /* line 1231, ../sass/screen.sass */
  .about_us_block_pictures {
    height: 1500px;
  }

  /* line 1234, ../sass/screen.sass */
  .icons_maintext_nambers {
    height: 340px;
    width: 90%;
  }

  /* line 1239, ../sass/screen.sass */
  .about_us_block_pictures_icon1 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1245, ../sass/screen.sass */
  .about_us_block_pictures_icon2 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1251, ../sass/screen.sass */
  .about_us_block_pictures_icon3 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1257, ../sass/screen.sass */
  .about_us_block_pictures_icon4 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1263, ../sass/screen.sass */
  .about_us_block_pictures_maintext {
    height: 120px;
    width: 300px;
    left: 340px;
    top: 50px;
    font-size: 100px;
  }

  /* line 1271, ../sass/screen.sass */
  .about_us_block_pictures_maintext h3 {
    font-size: 100px;
  }

  /* line 1274, ../sass/screen.sass */
  .about_us_block_pictures_nambers {
    height: 80px;
    width: 460px;
    top: 160px;
    left: 340px;
  }

  /* line 1281, ../sass/screen.sass */
  .about_us_block_pictures_nambers h6 {
    font-size: 60px;
  }

  /* line 1284, ../sass/screen.sass */
  .about_us_block_pictures_main {
    margin-top: 100px;
  }

  /* line 1287, ../sass/screen.sass */
  .our_latest_works_block_head {
    font-size: 96px;
    margin: 0 auto 120px auto;
  }

  /* line 1291, ../sass/screen.sass */
  .slide_buttons_2 {
    width: 60px;
    margin: 20px auto 60px auto;
  }

  /* line 1295, ../sass/screen.sass */
  .slide_buttons_2 {
    height: 0;
    margin: 0;
    padding: 0;
  }

  /* line 1300, ../sass/screen.sass */
  .about_us_text_block {
    margin-top: 180px;
    font-size: 98px;
    width: 100%;
    height: 80px;
  }

  /* line 1306, ../sass/screen.sass */
  .about_us_block {
    height: 360px;
    width: 100%;
  }

  /* line 1310, ../sass/screen.sass */
  .ander_about_us_block {
    height: 1400px;
    background-size: 4300px auto;
    background-position: -3200px 0px;
  }

  /* line 1315, ../sass/screen.sass */
  .ander_pikture {
    height: 340px;
  }

  /* line 1318, ../sass/screen.sass */
  .button_more_about_us {
    width: 740px;
    height: 160px;
    margin: 80px auto;
    font-size: 56px;
  }

  /* line 1324, ../sass/screen.sass */
  .what_people_say_block {
    width: 100%;
    height: 2360px;
  }

  /* line 1328, ../sass/screen.sass */
  .what_people_say_main_block {
    width: 100%;
    height: 100px;
    margin: 150px auto 0 auto;
    font-size: 96px;
  }

  /* line 1334, ../sass/screen.sass */
  .what_people_say_block_ander_text {
    width: 900px;
    margin: 80px auto 0;
    font-size: 60px;
  }

  /* line 1339, ../sass/screen.sass */
  .what_people_say_line_block {
    width: 516px;
    height: 2px;
    margin: 80px auto 10px auto;
    opacity: 0.7;
  }

  /* line 1345, ../sass/screen.sass */
  .what_people_say_block_barr {
    width: 380px;
    height: 140px;
    margin: 120px auto 0;
    font-size: 38px;
  }

  /* line 1351, ../sass/screen.sass */
  .slide_buttons_v {
    padding: 1px;
    margin: 80px auto;
    width: 300px;
    height: 70px;
  }

  /* line 1357, ../sass/screen.sass */
  .ander_top_pikture {
    height: 1600px;
  }

  /* line 1360, ../sass/screen.sass */
  .firm_block_init1 {
    background-image: url(../img/order3.png);
  }

  /* line 1363, ../sass/screen.sass */
  .firm_block_init2 {
    background-image: url(../img/order2.png);
  }

  /* line 1366, ../sass/screen.sass */
  .firm_block_init3 {
    background-image: url(../img/order4.png);
  }

  /* line 1369, ../sass/screen.sass */
  .firm_block_init4 {
    background-image: url(../img/order1.png);
  }

  /* line 1372, ../sass/screen.sass */
  .firm_block_init5 {
    background-image: url(../img/order3.png);
  }

  /* line 1375, ../sass/screen.sass */
  .firm_block_init6 {
    background-image: url(../img/order2.png);
  }

  /* line 1378, ../sass/screen.sass */
  .firm_block_init7 {
    background-image: url(../img/order4.png);
  }

  /* line 1381, ../sass/screen.sass */
  .firm_block_init8 {
    background-image: url(../img/order1.png);
  }

  /* line 1384, ../sass/screen.sass */
  .firms {
    height: 900px;
    width: 100%;
  }

  /* line 1388, ../sass/screen.sass */
  .firm_block1 {
    width: 100%;
    height: 800px;
    margin-top: 100px;
  }

  /* line 1393, ../sass/screen.sass */
  .firm_block_main {
    width: 400px;
    height: 180px;
    background-size: 360px auto;
  }

  /* line 1398, ../sass/screen.sass */
  .latest_blog_posts {
    height: 340px;
  }

  /* line 1401, ../sass/screen.sass */
  .latedt_blog_posts_main_text {
    height: 360px;
    margin: 160px auto 0px auto;
    width: 840px;
    font-size: 98px;
  }

  /* line 1407, ../sass/screen.sass */
  .blog {
    height: 1120px;
  }

  /* line 1410, ../sass/screen.sass */
  .blog_cont_mb {
    height: 280px;
  }

  /* line 1413, ../sass/screen.sass */
  .blog_cont_up_text1 {
    margin: 40px auto 0 auto;
    height: 30px;
    width: 800px;
    font-size: 28px;
  }

  /* line 1419, ../sass/screen.sass */
  .blog_cont_down_text1 {
    margin: 20px auto;
    height: 100px;
    width: 800px;
    font-size: 56px;
    line-height: 70px;
  }

  /* line 1426, ../sass/screen.sass */
  .blog_cont1_1 {
    margin-top: 80px;
  }

  /* line 1429, ../sass/screen.sass */
  .want_to_work_with_us_block {
    height: 860px;
  }

  /* line 1432, ../sass/screen.sass */
  .want_to_work_with_us_main_text {
    height: 240px;
    width: 800px;
    margin: 68px auto 0 auto;
    font-size: 98px;
  }

  /* line 1438, ../sass/screen.sass */
  .ping_us_today {
    height: 80px;
    width: 800px;
    margin: 38px auto;
    font-size: 40px;
  }
}
