/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.sass */
.header_top {
  position: absolute;
  width: 100%;
  height: 180px;
  z-index: 1;
}

/* line 29, ../sass/screen.sass */
.logo {
  width: 130px;
  height: 45px;
  margin-top: 26px;
  margin-left: 54px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 84px auto;
}

/* line 40, ../sass/screen.sass */
.menu {
  width: 60px;
  height: 45px;
  margin-top: 26px;
  margin-right: 26px;
  float: right;
  background-image: url(../img/Menu.png);
  background-repeat: no-repeat;
  background-size: 40px auto;
}

/* line 52, ../sass/screen.sass */
.under_header {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../img/Top-pict.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 66, ../sass/screen.sass */
.under_header_text {
  position: relative;
  width: 500px;
  margin: 164px auto 210px auto;
}

/* line 72, ../sass/screen.sass */
.main_text {
  position: relative;
  width: 460px;
  font-size: 38px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: "OpenSansSemiBold";
}

/* line 83, ../sass/screen.sass */
.under_main_text {
  color: #fff;
  font-size: 14;
  margin-top: 26px;
  text-align: center;
  font-family: "OpenSansRegular";
  line-height: 1.2;
}

/* line 91, ../sass/screen.sass */
.under_top_pikture {
  position: relative;
  width: 100%;
  padding: 1px;
}

/* line 97, ../sass/screen.sass */
.slide_buttons {
  position: relative;
  height: 38px;
  width: 100px;
  margin: 0 auto;
}

/* line 105, ../sass/screen.sass */
.slide_buttons_box {
  width: 14px;
  height: 26px;
  margin: 0 auto;
}

/* line 113, ../sass/screen.sass */
.button1 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
}
/* line 122, ../sass/screen.sass */
.button1:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 135, ../sass/screen.sass */
.button2 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  float: left;
  margin-top: 6px;
}
/* line 146, ../sass/screen.sass */
.button2:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 155, ../sass/screen.sass */
.button3 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  padding: 3px;
}
/* line 165, ../sass/screen.sass */
.button3:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 178, ../sass/screen.sass */
.topick_block {
  position: relative;
  width: 100%;
  padding: 1px;
  margin: 10px auto 10px auto;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

/* line 192, ../sass/screen.sass */
.topick_block_text {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0px auto;
  font-family: "OpenSansBold";
  font-size: 34px;
}

/* line 202, ../sass/screen.sass */
.ander_topick_block {
  position: relative;
  width: 100%;
}

/* line 209, ../sass/screen.sass */
.includ_ander_topick_block {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

/* line 219, ../sass/screen.sass */
.inf_block {
  width: 200px;
  height: 176px;
  margin: 0 auto;
  margin-bottom: 3px;
}

/* line 227, ../sass/screen.sass */
.inf_block_pict1 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px auto;
}

/* line 238, ../sass/screen.sass */
.inf_block_pict2 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px auto;
}

/* line 249, ../sass/screen.sass */
.inf_block_pict3 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 260, ../sass/screen.sass */
.inf_block_pict4 {
  position: relative;
  height: 54px;
  width: 100px;
  margin: 6px auto;
  background-image: url(../img/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px auto;
}

/* line 271, ../sass/screen.sass */
.inf_block_main_text {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansSemiBold";
  text-align: center;
  font-size: 16px;
  padding: 3px 0px 0px 3px;
}

/* line 282, ../sass/screen.sass */
.inf_block_text {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansRegular";
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

/* line 295, ../sass/screen.sass */
.our_latest_works_block {
  position: relative;
  width: 100%;
  clear: both;
}

/* line 302, ../sass/screen.sass */
.our_latest_works_block_head {
  position: relative;
  top: 40px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 32px;
  font-family: "OpenSansSemiBold";
}

/* line 312, ../sass/screen.sass */
.piktures_block1_top {
  position: relative;
  height: auto;
}

/* line 316, ../sass/screen.sass */
.piktures_block1 {
  position: relative;
  width: 100%;
}

/* line 322, ../sass/screen.sass */
.piktures_block1_1 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/Green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 333, ../sass/screen.sass */
.piktures_block1_2 {
  width: 100%;
  float: left;
  height: 320px;
  overflow: hidden;
  background-image: url(../img/plainmilitery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 344, ../sass/screen.sass */
.piktures_block1 .col-sm-6, .col-md-6 {
  margin: 0;
  padding: 0;
}

/* line 350, ../sass/screen.sass */
.piktures_block1_ander {
  width: 100%;
}

/* line 354, ../sass/screen.sass */
.piktures_block1_ander .col-sm-6, .col-md-6, .col-lg-3 {
  margin: 0;
  padding: 0;
}

/* line 358, ../sass/screen.sass */
.piktures_block2_1 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Sity.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 366, ../sass/screen.sass */
.piktures_block2_2 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Verifon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 374, ../sass/screen.sass */
.piktures_block2_3 {
  width: 100%;
  height: 150px;
  background-image: url(../img/GoldPoint.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 382, ../sass/screen.sass */
.piktures_block2_4 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Lazard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 391, ../sass/screen.sass */
.buttons_box {
  width: 80px;
  margin: 0 auto;
  height: 30px;
}

/* line 399, ../sass/screen.sass */
.button4 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 18px;
  padding: 3px;
}
/* line 409, ../sass/screen.sass */
.button4:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 415, ../sass/screen.sass */
.button5 {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #dddddd;
  border-radius: 15px;
  margin-top: 6px;
  margin-left: 46px;
  padding: 3px;
}
/* line 425, ../sass/screen.sass */
.button5:hover {
  background-color: #ac94ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 431, ../sass/screen.sass */
.button1, .button2, .button3, .button4, .button5 {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
}

/* line 437, ../sass/screen.sass */
.about_us_block_pictures {
  width: 100%;
  position: relative;
  background-color: #ac94ea;
  padding: 1px;
  z-index: 999;
}

/* line 444, ../sass/screen.sass */
.about_us_block_pictures .container {
  width: 85%;
}

/* line 448, ../sass/screen.sass */
.about_us_block {
  height: 60px;
  margin-bottom: 10px;
}

/* line 452, ../sass/screen.sass */
.about_us_text_block {
  font-size: 30px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  padding: 1px;
  font-family: OpenSansBold;
}

/* line 462, ../sass/screen.sass */
.slide_buttons_box_2 {
  height: 30px;
  margin: 24px;
}

/* line 468, ../sass/screen.sass */
.icons_maintext_nambers {
  position: relative;
  padding: 1px;
  height: 120px;
  width: 260px;
  margin: 0 auto;
}

/* line 477, ../sass/screen.sass */
.about_us_block_pictures_icon {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
}

/* line 485, ../sass/screen.sass */
.about_us_block_pictures_nambers {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 70px;
  left: 105px;
}

/* line 493, ../sass/screen.sass */
.about_us_block_pictures_maintext {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 25px;
  left: 105px;
}

/* line 503, ../sass/screen.sass */
.ander_pikture {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #f2f2f2;
}

/* line 509, ../sass/screen.sass */
.about_us_block_pictures_main {
  padding: 1px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 517, ../sass/screen.sass */
.about_us_block_pictures_icon1 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 528, ../sass/screen.sass */
.about_us_block_pictures_icon2 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 539, ../sass/screen.sass */
.about_us_block_pictures_icon3 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 550, ../sass/screen.sass */
.about_us_block_pictures_icon4 {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65px;
  width: 65px;
  background-image: url(../img/about4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 561, ../sass/screen.sass */
.about_us_block_pictures_maintext h3 {
  font-size: 40px;
  font-family: OpenSansRegular;
  color: #fff;
}

/* line 566, ../sass/screen.sass */
.about_us_block_pictures_nambers h6 {
  font-size: 14px;
  font-family: OpenSansRegular;
  color: #fff;
}

/* line 572, ../sass/screen.sass */
.ander_about_us_block {
  position: relative;
  width: 100%;
  height: 320px;
  position: relative;
  background-image: url(../img/about_main-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

/* line 585, ../sass/screen.sass */
.button_more_about_us {
  position: relative;
  width: 260px;
  height: 50px;
  margin: 40px auto;
  background-color: #5dc3e9;
  font-size: 17px;
  font-family: OpenSansLight;
  color: #fff;
  text-align: center;
  padding: 0.85em 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
/* line 599, ../sass/screen.sass */
.button_more_about_us:hover {
  background-color: #057D9F;
}

/* line 605, ../sass/screen.sass */
.what_people_say_block {
  width: 100%;
  height: 540px;
}

/* line 610, ../sass/screen.sass */
.what_people_say_main_block {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 90px auto 0 auto;
  font-size: 32px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 622, ../sass/screen.sass */
.what_people_say_block_ander_text {
  position: relative;
  width: 580px;
  margin: 26px auto 0;
  font-family: OpenSansSemiBold;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  line-height: 1.6;
}

/* line 633, ../sass/screen.sass */
.what_people_say_block_ander_text span {
  color: #FF5900;
}

/* line 636, ../sass/screen.sass */
.what_people_say_line_block {
  width: 216px;
  height: 1px;
  background-color: gray;
  margin: 10px auto 0;
  opacity: 0.5;
}

/* line 644, ../sass/screen.sass */
.what_people_say_block_barr {
  width: 240px;
  height: 30px;
  margin: 20px auto 40px auto;
  font-size: 11px;
  font-family: OpenSansSemiBold;
  text-align: center;
}

/* line 654, ../sass/screen.sass */
.firms {
  width: 100%;
  background-color: #363636;
}

/* line 658, ../sass/screen.sass */
.firm_block1 {
  height: 60px;
  position: relative;
  margin: 34px auto 0 auto;
  width: 85%;
}

/* line 664, ../sass/screen.sass */
.firm_block2 {
  height: 64px;
  position: relative;
  margin: 16px auto 0 auto;
  width: 85%;
}

/* line 670, ../sass/screen.sass */
.firm_block_main {
  margin: 0 auto;
  width: 160px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 126px auto;
}

/* line 679, ../sass/screen.sass */
.firm_block_init {
  background-image: url(../img/order4.png);
}

/* line 682, ../sass/screen.sass */
.firm_block_init1 {
  background-image: url(../img/order4.png);
}

/* line 685, ../sass/screen.sass */
.firm_block_init2 {
  background-image: url(../img/order3.png);
}

/* line 688, ../sass/screen.sass */
.firm_block_init3 {
  background-image: url(../img/order2.png);
}

/* line 691, ../sass/screen.sass */
.firm_block_init4 {
  background-image: url(../img/order1.png);
}

/* line 694, ../sass/screen.sass */
.firm_block_init5 {
  background-image: url(../img/order3.png);
}

/* line 697, ../sass/screen.sass */
.firm_block_init6 {
  background-image: url(../img/order4.png);
}

/* line 700, ../sass/screen.sass */
.firm_block_init7 {
  background-image: url(../img/order1.png);
}

/* line 703, ../sass/screen.sass */
.firm_block_init8 {
  background-image: url(../img/order2.png);
}

/* line 706, ../sass/screen.sass */
.latest_blog_posts {
  padding: 1px;
  height: 140px;
  width: 100%;
}

/* line 712, ../sass/screen.sass */
.latedt_blog_posts_main_text {
  position: relative;
  height: 50px;
  margin: 70px auto;
  width: 320px;
  font-family: OpenSansSemiBold;
  font-size: 30px;
  text-align: center;
}

/* line 722, ../sass/screen.sass */
.blog {
  position: relative;
  width: 100%;
  height: 370px;
}

/* line 728, ../sass/screen.sass */
.blog_cont1 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 739, ../sass/screen.sass */
.blog_cont2 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 750, ../sass/screen.sass */
.blog_cont3 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 761, ../sass/screen.sass */
.blog_cont4 {
  position: relative;
  width: 100%;
  height: 92px;
  background-image: url(../img/blog-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

/* line 772, ../sass/screen.sass */
.buttons_box3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 24px auto;
}

/* line 781, ../sass/screen.sass */
.blog_cont_up_text1 {
  margin: 22px auto 0 auto;
  position: relative;
  width: 500px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  font-family: OpenSansSemiBold;
}

/* line 790, ../sass/screen.sass */
.blog_cont_up_text1 span {
  font-family: OpenSansItalic;
}

/* line 793, ../sass/screen.sass */
.blog_cont_down_text1 {
  margin: 0px auto;
  position: relative;
  width: 500px;
  height: 32px;
  text-align: center;
  font-size: 18px;
  font-family: OpenSansBold;
}

/* line 803, ../sass/screen.sass */
.want_to_work_with_us_block {
  padding: 1px;
  position: relative;
  width: 100%;
  height: 340px;
}

/* line 811, ../sass/screen.sass */
.want_to_work_with_us_main_text {
  position: relative;
  height: 40px;
  width: 360px;
  margin: 68px auto 0 auto;
  font-family: OpenSansBold;
  font-size: 32px;
  text-align: center;
}

/* line 821, ../sass/screen.sass */
.ping_us_today {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-family: OpenSansLight;
  font-size: 17px;
}

/* line 831, ../sass/screen.sass */
footer {
  width: 100%;
  background-color: #292a2e;
}

/* line 837, ../sass/screen.sass */
.main_init_block {
  position: relative;
  width: 80%;
  height: 260px;
  z-index: 999;
  margin: 10px auto;
}

/* line 845, ../sass/screen.sass */
.contant {
  position: relative;
  width: 200px;
  height: 160px;
  font-family: OpenSansSemiBold;
  color: #fff;
  padding: 1px;
}

/* line 854, ../sass/screen.sass */
.line {
  position: relative;
  width: 96%;
  height: 2px;
  background-color: #aaaaaa;
  margin: 40px auto 0 auto;
}

/* line 862, ../sass/screen.sass */
.box_contact_as {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 871, ../sass/screen.sass */
.box_adres {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 0px;
  font-size: 10px;
  line-height: 18px;
}

/* line 880, ../sass/screen.sass */
.box_email {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 110px;
  font-size: 10px;
  line-height: 18px;
}

/* line 889, ../sass/screen.sass */
.box_company {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 898, ../sass/screen.sass */
.box_inf {
  position: relative;
  height: 110px;
  width: 100%;
  margin-top: 0px;
  font-size: 10px;
  line-height: 18px;
}

/* line 907, ../sass/screen.sass */
.box_inf a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
}

/* line 913, ../sass/screen.sass */
.box_news {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
}

/* line 921, ../sass/screen.sass */
.box_picture {
  position: absolute;
  height: 70px;
  width: 100%;
  margin: 16px auto;
  font-size: 18px;
  background-image: url(../img/pict_footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  z-index: 999;
}

/* line 934, ../sass/screen.sass */
.soshial_buttons {
  position: absolute;
  height: 30px;
  width: 100%;
  margin: 90px auto;
}

/* line 941, ../sass/screen.sass */
.soshial_buttons_float {
  width: 100px;
  height: 30px;
  float: right;
  overflow: hidden;
}

/* line 948, ../sass/screen.sass */
.soshial_buttons1 {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(../img/in.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 958, ../sass/screen.sass */
.soshial_buttons2 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 35px;
  background-image: url(../img/tv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 969, ../sass/screen.sass */
.soshial_buttons3 {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 70px;
  background-image: url(../img/fa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/* line 980, ../sass/screen.sass */
.bottom_footer {
  position: relative;
  width: 96%;
  height: 60px;
  font-size: 10px;
  font-family: OpenSansSemiBold;
  color: #fff;
  margin: 5px auto 0px auto;
}

/* line 989, ../sass/screen.sass */
.bottom_footer_left {
  width: 220px;
  height: 30px;
  float: left;
  overflow: hidden;
}

/* line 995, ../sass/screen.sass */
.bottom_footer_right {
  width: 220px;
  height: 30px;
  float: right;
  text-align: right;
  overflow: hidden;
}

/* line 1002, ../sass/screen.sass */
.slide_buttons_2 {
  width: 60px;
  margin: 20px auto 60px auto;
}

/* line 1006, ../sass/screen.sass */
.blog_cont_mb {
  padding: 1px;
}

/* line 1020, ../sass/screen.sass */
.container {
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
  /* line 1028, ../sass/screen.sass */
  .logo {
    width: 260px;
    height: 90px;
    margin-top: 54px;
    margin-left: 54px;
    background-size: 200px auto;
  }

  /* line 1037, ../sass/screen.sass */
  .menu {
    width: 120px;
    height: 90px;
    margin-top: 54px;
    margin-right: 54px;
    float: right;
    background-size: 130px auto;
  }

  /* line 1047, ../sass/screen.sass */
  .under_header .container, .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* line 1052, ../sass/screen.sass */
  .under_header {
    height: 1600px;
    background-position: -600px 0;
    background-repeat: no-repeat;
  }

  /* line 1060, ../sass/screen.sass */
  .under_header_text {
    width: 90%;
    height: 100%;
  }

  /* line 1067, ../sass/screen.sass */
  .main_text {
    width: 100%;
    margin: 300px auto 0 auto;
    text-align: center;
    font-family: "OpenSansSemiBold";
  }

  /* line 1074, ../sass/screen.sass */
  .main_text h6 {
    color: #fff;
    font-size: 106px;
  }

  /* line 1078, ../sass/screen.sass */
  .under_main_text {
    font-size: 50px;
    margin-top: 70px;
  }

  /* line 1082, ../sass/screen.sass */
  .slide_buttons {
    margin-top: 220px;
    width: 100px;
    margin: 180px auto 0 auto;
  }

  /* line 1087, ../sass/screen.sass */
  .slide_buttons .container, .row {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  /* line 1092, ../sass/screen.sass */
  .slide_buttons_box {
    width: 50px;
    height: 30px;
    padding: 0;
  }

  /* line 1099, ../sass/screen.sass */
  .slide_buttons {
    width: 150px;
    height: 70px;
  }

  /* line 1103, ../sass/screen.sass */
  .button_v {
    height: 0;
    width: 0;
  }

  /* line 1108, ../sass/screen.sass */
  .button1 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1113, ../sass/screen.sass */
  .button2 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1118, ../sass/screen.sass */
  .button3 {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  /* line 1123, ../sass/screen.sass */
  .under_top_pikture {
    height: 100%;
  }

  /* line 1127, ../sass/screen.sass */
  .topick_block {
    width: 100%;
    height: 260px;
    margin: 0 auto;
  }

  /* line 1133, ../sass/screen.sass */
  .topick_block_text {
    width: 80%;
    height: 100px;
    text-align: center;
    font-size: 100px;
    margin: 100px auto 70px auto;
  }

  /* line 1142, ../sass/screen.sass */
  .under_topick_block {
    height: 900px;
  }

  /* line 1145, ../sass/screen.sass */
  .includ_ander_topick_block {
    margin: 0 auto;
    width: 100%;
    height: 800px;
  }

  /* line 1151, ../sass/screen.sass */
  .inf_block {
    width: 98%;
    height: 500px;
    margin: 0 auto 140px auto;
  }

  /* line 1160, ../sass/screen.sass */
  .inf_block_main_text {
    height: 120px;
    width: 100%;
    margin: 30px auto 10px auto;
    font-size: 52px;
    padding: 3px 0px 0px 3px;
    font-family: OpenSansBold;
  }

  /* line 1169, ../sass/screen.sass */
  .inf_block_text {
    height: 300px;
    width: 425px;
    margin: 0 auto;
    text-align: center;
    font-size: 41px;
    line-height: 50px;
    padding: 1px;
  }

  /* line 1179, ../sass/screen.sass */
  .inf_block_pict1 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 190px auto;
  }

  /* line 1186, ../sass/screen.sass */
  .inf_block_pict2 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 150px auto;
  }

  /* line 1193, ../sass/screen.sass */
  .inf_block_pict3 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 140px auto;
  }

  /* line 1200, ../sass/screen.sass */
  .inf_block_pict4 {
    height: 120px;
    width: 300px;
    margin: 6px auto;
    background-size: 130px auto;
  }

  /* line 1207, ../sass/screen.sass */
  .inf_block_main_text_2 {
    margin: 40px 0 0 0;
    height: 80px;
  }

  /* line 1212, ../sass/screen.sass */
  .piktures_block1_1 {
    height: 800px;
    background-size: 1700px auto;
    background-position: -690px -60px;
  }

  /* line 1217, ../sass/screen.sass */
  .piktures_block1 .container, .row {
    margin: 0;
    padding: 0;
  }

  /* line 1221, ../sass/screen.sass */
  .piktures_block1_2 {
    height: 800px;
    background-size: 1700px auto;
    background-position: center -140px;
  }

  /* line 1226, ../sass/screen.sass */
  .piktures_block2_3 {
    height: 800px;
    background-size: 3200px auto;
    background-position: -300px -350px;
  }

  /* line 1231, ../sass/screen.sass */
  .piktures_block2_4 {
    height: 800px;
    background-size: 2400px auto;
    background-position: -590px -100px;
  }

  /* line 1236, ../sass/screen.sass */
  .about_us_block_pictures {
    height: 1500px;
  }

  /* line 1239, ../sass/screen.sass */
  .icons_maintext_nambers {
    height: 340px;
    width: 90%;
  }

  /* line 1244, ../sass/screen.sass */
  .about_us_block_pictures_icon1 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1250, ../sass/screen.sass */
  .about_us_block_pictures_icon2 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1256, ../sass/screen.sass */
  .about_us_block_pictures_icon3 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1262, ../sass/screen.sass */
  .about_us_block_pictures_icon4 {
    height: 240px;
    width: 240px;
    background-size: 240px auto;
  }

  /* line 1268, ../sass/screen.sass */
  .about_us_block_pictures_maintext {
    height: 120px;
    width: 300px;
    left: 340px;
    top: 50px;
    font-size: 100px;
  }

  /* line 1276, ../sass/screen.sass */
  .about_us_block_pictures_maintext h3 {
    font-size: 100px;
  }

  /* line 1279, ../sass/screen.sass */
  .about_us_block_pictures_nambers {
    height: 80px;
    width: 460px;
    top: 160px;
    left: 340px;
  }

  /* line 1286, ../sass/screen.sass */
  .about_us_block_pictures_nambers h6 {
    font-size: 60px;
  }

  /* line 1289, ../sass/screen.sass */
  .about_us_block_pictures_main {
    margin-top: 100px;
  }

  /* line 1292, ../sass/screen.sass */
  .our_latest_works_block_head {
    font-size: 96px;
    margin: 0 auto 120px auto;
  }

  /* line 1296, ../sass/screen.sass */
  .slide_buttons_2 {
    width: 60px;
    margin: 20px auto 60px auto;
  }

  /* line 1300, ../sass/screen.sass */
  .slide_buttons_2 {
    height: 0;
    margin: 0;
    padding: 0;
  }

  /* line 1305, ../sass/screen.sass */
  .about_us_text_block {
    margin-top: 180px;
    font-size: 98px;
    width: 100%;
    height: 80px;
  }

  /* line 1311, ../sass/screen.sass */
  .about_us_block {
    height: 360px;
    width: 100%;
  }

  /* line 1315, ../sass/screen.sass */
  .ander_about_us_block {
    height: 1400px;
    background-size: 4300px auto;
    background-position: -3200px 0px;
  }

  /* line 1320, ../sass/screen.sass */
  .ander_pikture {
    height: 340px;
  }

  /* line 1323, ../sass/screen.sass */
  .button_more_about_us {
    width: 740px;
    height: 160px;
    margin: 80px auto;
    font-size: 56px;
  }

  /* line 1329, ../sass/screen.sass */
  .what_people_say_block {
    width: 100%;
    height: 2360px;
  }

  /* line 1333, ../sass/screen.sass */
  .what_people_say_main_block {
    width: 100%;
    height: 100px;
    margin: 150px auto 0 auto;
    font-size: 96px;
  }

  /* line 1339, ../sass/screen.sass */
  .what_people_say_block_ander_text {
    width: 900px;
    margin: 80px auto 0;
    font-size: 60px;
  }

  /* line 1344, ../sass/screen.sass */
  .what_people_say_line_block {
    width: 516px;
    height: 2px;
    margin: 80px auto 10px auto;
    opacity: 0.7;
  }

  /* line 1350, ../sass/screen.sass */
  .what_people_say_block_barr {
    width: 380px;
    height: 140px;
    margin: 120px auto 0;
    font-size: 38px;
  }

  /* line 1356, ../sass/screen.sass */
  .slide_buttons_v {
    padding: 1px;
    margin: 80px auto;
    width: 300px;
    height: 70px;
  }

  /* line 1362, ../sass/screen.sass */
  .ander_top_pikture {
    height: 1600px;
  }

  /* line 1365, ../sass/screen.sass */
  .firm_block_init1 {
    background-image: url(../img/order3.png);
  }

  /* line 1368, ../sass/screen.sass */
  .firm_block_init2 {
    background-image: url(../img/order2.png);
  }

  /* line 1371, ../sass/screen.sass */
  .firm_block_init3 {
    background-image: url(../img/order4.png);
  }

  /* line 1374, ../sass/screen.sass */
  .firm_block_init4 {
    background-image: url(../img/order1.png);
  }

  /* line 1377, ../sass/screen.sass */
  .firm_block_init5 {
    background-image: url(../img/order3.png);
  }

  /* line 1380, ../sass/screen.sass */
  .firm_block_init6 {
    background-image: url(../img/order2.png);
  }

  /* line 1383, ../sass/screen.sass */
  .firm_block_init7 {
    background-image: url(../img/order4.png);
  }

  /* line 1386, ../sass/screen.sass */
  .firm_block_init8 {
    background-image: url(../img/order1.png);
  }

  /* line 1389, ../sass/screen.sass */
  .firms {
    height: 900px;
    width: 100%;
  }

  /* line 1393, ../sass/screen.sass */
  .firm_block1 {
    width: 100%;
    height: 800px;
    margin-top: 100px;
  }

  /* line 1398, ../sass/screen.sass */
  .firm_block_main {
    width: 400px;
    height: 180px;
    background-size: 360px auto;
  }

  /* line 1403, ../sass/screen.sass */
  .latest_blog_posts {
    height: 340px;
  }

  /* line 1406, ../sass/screen.sass */
  .latedt_blog_posts_main_text {
    height: 360px;
    margin: 160px auto 0px auto;
    width: 840px;
    font-size: 98px;
  }

  /* line 1412, ../sass/screen.sass */
  .blog {
    height: 1120px;
  }

  /* line 1415, ../sass/screen.sass */
  .blog_cont_mb {
    height: 280px;
  }

  /* line 1418, ../sass/screen.sass */
  .blog_cont_up_text1 {
    margin: 40px auto 0 auto;
    height: 30px;
    width: 800px;
    font-size: 28px;
  }

  /* line 1424, ../sass/screen.sass */
  .blog_cont_down_text1 {
    margin: 20px auto;
    height: 100px;
    width: 800px;
    font-size: 56px;
    line-height: 70px;
  }

  /* line 1431, ../sass/screen.sass */
  .blog_cont1_1 {
    margin-top: 80px;
  }

  /* line 1434, ../sass/screen.sass */
  .want_to_work_with_us_block {
    height: 860px;
  }

  /* line 1437, ../sass/screen.sass */
  .want_to_work_with_us_main_text {
    height: 240px;
    width: 800px;
    margin: 68px auto 0 auto;
    font-size: 98px;
  }

  /* line 1443, ../sass/screen.sass */
  .ping_us_today {
    height: 80px;
    width: 800px;
    margin: 38px auto;
    font-size: 40px;
  }

  /* line 1449, ../sass/screen.sass */
  footer {
    height: 2500px;
  }

  /* line 1452, ../sass/screen.sass */
  .main_init_block .container, .col-sm-12 {
    padding: 0;
  }

  /* line 1456, ../sass/screen.sass */
  .main_init_block {
    width: 88%;
    height: 100%;
  }

  /* line 1460, ../sass/screen.sass */
  .block_contact_as {
    height: 620px;
  }

  /* line 1463, ../sass/screen.sass */
  .box_contact_as {
    height: 60px;
    margin: 100px auto 0 auto;
    font-size: 56px;
  }

  /* line 1468, ../sass/screen.sass */
  .box_adres {
    height: 180px;
    width: 450px;
    margin-top: 60px;
    font-size: 34px;
    line-height: 60px;
  }

  /* line 1475, ../sass/screen.sass */
  .box_email {
    height: 180px;
    width: 450px;
    margin-top: 80px;
    font-size: 34px;
    line-height: 60px;
  }

  /* line 1482, ../sass/screen.sass */
  .company {
    height: 560px;
  }

  /* line 1486, ../sass/screen.sass */
  .box_company {
    height: 70px;
    width: 100%;
    margin: 140px auto 0 auto;
    font-size: 56px;
  }

  /* line 1493, ../sass/screen.sass */
  .box_inf {
    height: 300px;
    margin-top: 50px;
  }

  /* line 1497, ../sass/screen.sass */
  .box_inf a {
    height: 180px;
    width: 450px;
    margin-top: 60px;
    font-size: 34px;
    line-height: 60px;
  }

  /* line 1504, ../sass/screen.sass */
  .box_news {
    margin: 140px auto 0 auto;
    font-size: 56px;
    height: 70px;
  }

  /* line 1509, ../sass/screen.sass */
  .news {
    height: 560px;
  }

  /* line 1512, ../sass/screen.sass */
  .else {
    height: 800px;
    padding: 1px;
    width: 100%;
  }

  /* line 1517, ../sass/screen.sass */
  .box_picture {
    top: 400px;
  }

  /* line 1520, ../sass/screen.sass */
  .soshial_buttons {
    position: relative;
    padding: 1px;
    height: 210px;
    width: 100%;
    margin: 120px auto 100px auto;
  }

  /* line 1527, ../sass/screen.sass */
  .soshial_buttons_float {
    position: relative;
    margin: 0 70px;
    width: 700px;
    height: 210px;
    padding: 1px;
  }

  /* line 1534, ../sass/screen.sass */
  .soshial_buttons1 {
    height: 210px;
    width: 210px;
    margin-left: 500px;
    background-size: 180px;
  }

  /* line 1540, ../sass/screen.sass */
  .soshial_buttons2 {
    height: 210px;
    width: 210px;
    margin: 0 253px;
    background-size: 180px;
  }

  /* line 1546, ../sass/screen.sass */
  .soshial_buttons3 {
    height: 210px;
    width: 210px;
    margin-left: 0px;
    background-size: 180px;
  }

  /* line 1552, ../sass/screen.sass */
  .box_picture {
    height: 300px;
    width: 100%;
    background-size: 680px;
  }

  /* line 1557, ../sass/screen.sass */
  .line {
    margin-top: 0px;
    width: 96%;
  }

  /* line 1561, ../sass/screen.sass */
  .bottom_footer_left {
    width: 340px;
    height: 200px;
    font-size: 40px;
    line-height: 70px;
  }

  /* line 1567, ../sass/screen.sass */
  .bottom_footer_right {
    width: 340px;
    height: 200px;
    font-size: 40px;
    line-height: 70px;
    text-align: right;
  }

  /* line 1574, ../sass/screen.sass */
  .contant {
    width: 100%;
  }
}
