/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"


 
	
//.wraperrr
//	overflow-x: hidden !important


$pink: pink
$red: red

.header_top
	position: absolute
	width: 100%
	height: 180px
	z-index: 1
	 





.logo 
	width: 130px
	height: 45px
	
	margin:
		top: 26px
		left: 54px
	background-image: url(../img/logo.png) 
	background-repeat: no-repeat
	background-size: 84px auto

.menu
	width: 60px
	height: 45px
	
	margin:
		top: 26px
		right: 26px
	float: right
	background-image: url(../img/Menu.png)
	background-repeat: no-repeat
	background-size: 40px auto

.under_header 
	position: relative
	width: 100%
	height: 600px
	//background-color: $red
	//&:hover 
	//	background-color: pink
	background-image: url(../img/Top-pict.png) 	
	background-position: center
	background-repeat: no-repeat
	background-size: cover
		


.under_header_text
	position: relative
	width: 500px
	margin: 164px auto 210px auto
	//background-color: red

.main_text
	position: relative
	width: 460px
	font-size: 38px
	text-align: center 
	margin: 0 auto
	color: #fff
	font-family: "OpenSansSemiBold"
	//background-color: pink


.under_main_text
	color: #fff
	font-size: 14
	margin-top: 26px
	text-align: center
	font-family: "OpenSansRegular"
	line-height: 1.2

.under_top_pikture
	position: relative
	width: 100%
	//background-color: red
	padding: 1px

.slide_buttons
	position: relative
	height: 38px
	width: 100px
	margin: 0 auto

	//background-color: pink

.slide_buttons_box 

	width: 14px
	height: 26px
	margin: 0 auto
	//background-color: red


.button1
	position: absolute
	height: 14px
	width: 14px
	background-color: #dddddd
	border-radius: 15px
	margin:
		top: 6px
		//left: 26px
	&:hover
		background-color: #ac94ea
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		transform: scale(1.2)
		



		
		
	

.button2
	position: absolute
	height: 14px
	width: 14px
	background-color: #dddddd
	border-radius: 15px
	float: left
	margin:
		top: 6px //53px
		

	&:hover

		background-color: #ac94ea
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		transform: scale(1.2)

	

.button3
	position: absolute
	height: 14px
	width: 14px
	background-color: #dddddd
	border-radius: 15px
	margin:
		top: 6px
		//left: 80px
	padding: 3px
	&:hover
		background-color: #ac94ea
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		transform: scale(1.2)
		

.consist_block
	//position: relative




.topick_block 

	position: relative
	width: 100%
	padding: 1px
	margin: 10px auto 10px auto
	height: 50px
	//background-color: pink
	text-align: center
	font-size: 20px
	



.topick_block_text
	position: relative
	width: 300px
	height: 40px
	//background-color: red
	margin: 0px auto 
	font-family: "OpenSansBold"
	font-size: 34px

	
.ander_topick_block
	position: relative
	//background-color: black
	
	width: 100%


.includ_ander_topick_block
	position: relative
	width: 85%
	//background-color: black
	margin: 0 auto





.inf_block
	width: 200px
	height: 176px
	//background-color: pink
	margin: 0 auto 
	margin-bottom: 3px


.inf_block_pict1
	position: relative
	height: 54px
	width: 100px
	//background-color: red
	margin: 6px auto
	background-image: url(../img/1.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 80px auto

.inf_block_pict2
	position: relative
	height: 54px
	width: 100px
	//background-color: red
	margin: 6px auto
	background-image: url(../img/2.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 70px auto

.inf_block_pict3
	position: relative
	height: 54px
	width: 100px
	//background-color: red
	margin: 6px auto
	background-image: url(../img/3.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 56px auto

.inf_block_pict4
	position: relative
	height: 54px
	width: 100px
	//background-color: red
	margin: 6px auto
	background-image: url(../img/4.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 56px auto

.inf_block_main_text 
	position: relative
	height: 30px
	width: 100%
	//background-color: red
	margin: 0 auto
	font-family: "OpenSansSemiBold"
	text-align: center
	font-size: 16px 
	padding: 3px 0px 0px 3px

.inf_block_text
	position: relative
	height: 70px
	width: 100%
	//background-color: red
	margin: 0 auto
	font-family: "OpenSansRegular"
	text-align: center
	font-size: 12px
	line-height: 16px



.our_latest_works_block 
	position: relative
	//height: 800px
	width: 100%
	//background-color: black
	clear: both

.our_latest_works_block_head
	position: relative
	top: 40px
	width: 100%
	height: 100px
	//background-color: pink
	text-align: center 
	font-size: 32px
	font-family: "OpenSansSemiBold"

.piktures_block1_top
	position: relative
	height: auto

.piktures_block1 
	position: relative
	width: 100%
	
	//background-color: red

.piktures_block1_1
	width: 100%
	float: left
	//background-color: red
	height: 320px
	overflow: hidden
	background-image: url(../img/Green.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.piktures_block1_2
	width: 100%
	float: left
	//background-color: pink
	height: 320px
	overflow: hidden
	background-image: url(../img/plainmilitery.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.piktures_block1 .col-sm-6, .col-md-6 
	margin: 0
	padding: 0



.piktures_block1_ander	
	//position: relative.	
	width: 100%

.piktures_block1_ander .col-sm-6, .col-md-6, .col-lg-3 
	margin: 0
	padding: 0

.piktures_block2_1
	width: 100%
	height: 150px
	background-image: url(../img/Sity.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.piktures_block2_2
	width: 100%
	height: 150px
	background-image: url(../img/Verifon.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.piktures_block2_3
	width: 100%
	height: 150px
	background-image: url(../img/GoldPoint.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.piktures_block2_4
	width: 100%
	height: 150px
	background-image: url(../img/Lazard.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	

.buttons_box
	width: 80px
	margin: 0 auto


	//background-color: red
	height: 30px

.button4
	position: absolute
	height: 14px
	width: 14px
	background-color: #dddddd
	border-radius: 15px
	margin:
		top: 6px
		left: 18px
	padding: 3px
	&:hover
		background-color: #ac94ea
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		transform: scale(1.2)

.button5
	position: absolute
	height: 14px
	width: 14px
	background-color: #dddddd
	border-radius: 15px
	margin:
		top: 6px
		left: 46px
	padding: 3px
	&:hover
		background-color: #ac94ea
		-webkit-transform: scale(1.2)
		-ms-transform: scale(1.2)
		transform: scale(1.2)

.button1, .button2, .button3, .button4, .button5
	-moz-transition: all.1s ease/*В Mozila*/
	-webkit-transition: all.1s ease/*В safari*/
	-ms-transition: all.1s ease/*?*/


.about_us_block_pictures
	width: 100%
	position: relative
	background-color: #ac94ea
	padding: 1px
	z-index: 999

.about_us_block_pictures .container
	width: 85%


.about_us_block
	height: 60px
	margin-bottom: 10px

.about_us_text_block
	font-size: 30px
	//background-color: red
	width: 140px
	text-align: center
	margin: 0 auto
	padding: 1px
	font-family: OpenSansBold


.slide_buttons_box_2
	height: 30px
	margin: 24px



.icons_maintext_nambers
	position: relative
	padding: 1px
	height: 120px
	width: 260px
	//background-color: red
	margin: 0 auto


.about_us_block_pictures_icon
	position: absolute
	top: 25px
	left: 30px
	height: 65px
	width: 65px
	//background-color: pink

.about_us_block_pictures_nambers
	position: absolute
	width: 100px
	height: 20px
	//background-color: pink
	top: 70px
	left: 105px

.about_us_block_pictures_maintext
	position: absolute
	width: 100px
	height: 40px
	//background-color: pink
	top: 25px
	left: 105px



.ander_pikture
	width: 100%
	height: 130px
	position: relative
	background-color: #f2f2f2

.about_us_block_pictures_main
	padding: 1px
	height: 100%
	margin-top: 20px
	margin-bottom: 20px



.about_us_block_pictures_icon1
	position: absolute
	top: 25px
	left: 30px
	height: 65px
	width: 65px
	background-image: url(../img/about1.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.about_us_block_pictures_icon2
	position: absolute
	top: 25px
	left: 30px
	height: 65px
	width: 65px
	background-image: url(../img/about2.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.about_us_block_pictures_icon3
	position: absolute
	top: 25px
	left: 30px
	height: 65px
	width: 65px
	background-image: url(../img/about3.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.about_us_block_pictures_icon4
	position: absolute
	top: 25px
	left: 30px
	height: 65px
	width: 65px
	background-image: url(../img/about4.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.about_us_block_pictures_maintext h3
	font-size: 40px
	font-family: OpenSansRegular
	color: #fff

.about_us_block_pictures_nambers h6
	font-size: 14px
	font-family: OpenSansRegular
	color: #fff


.ander_about_us_block
	position: relative
	width: 100%
	height: 320px
	position: relative 
	background-image: url(../img/about_main-1.png) 	
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	z-index: 999
	//background-color: red


.button_more_about_us
	position: relative
	width: 260px
	height: 50px
	margin: 40px auto 
	background-color: #5dc3e9
	font-size: 17px
	font-family: OpenSansLight
	color: #fff
	text-align: center
	padding: 0.85em 0
	-moz-transition: all.5s ease/*В Mozila*/
	-webkit-transition: all.5s ease/*В safari*/
	-ms-transition: all.5s ease/*?*/
	&:hover
		background-color: #057D9F

	


.what_people_say_block
	width: 100%
	height: 540px
	//background-color: red

.what_people_say_main_block
	position: relative
	width: 300px
	height: 50px
	margin: 90px auto 0 auto 
	//background-color: pink
	font-size: 32px
	font-family: OpenSansSemiBold
	text-align: center



.what_people_say_block_ander_text
	position: relative
	width: 580px
	margin: 26px auto 0
	font-family: OpenSansSemiBold
	font-size: 15px
	text-align: center
	background-color: #fff
	line-height: 1.6
	

.what_people_say_block_ander_text span
	color: #FF5900

.what_people_say_line_block
	width: 216px
	height: 1px
	background-color: gray
	margin: 10px auto 0
	opacity: 0.5


.what_people_say_block_barr
	width: 240px
	height: 30px
	//background-color: gray
	margin: 20px auto 40px auto
	font-size: 11px
	font-family: OpenSansSemiBold
	text-align: center


.firms
	width: 100%
	background-color: #363636

.firm_block1
	height: 60px
	position: relative
	margin: 34px auto 0 auto
	width: 85%

.firm_block2
	height: 64px
	position: relative
	margin: 16px auto 0 auto
	width: 85%

.firm_block_main
	margin: 0 auto
	//background-color: red
	width: 160px
	height: 60px
	background-position: center
	background-repeat: no-repeat
	background-size: 126px auto

.firm_block_init
	background-image: url(../img/order4.png)
	
.firm_block_init1
	background-image: url(../img/order4.png)

.firm_block_init2
	background-image: url(../img/order3.png)

.firm_block_init3
	background-image: url(../img/order2.png)

.firm_block_init4
	background-image: url(../img/order1.png)

.firm_block_init5
	background-image: url(../img/order3.png)

.firm_block_init6
	background-image: url(../img/order4.png)

.firm_block_init7
	background-image: url(../img/order1.png)

.firm_block_init8
	background-image: url(../img/order2.png)

.latest_blog_posts
	padding: 1px
	height: 140px
	width: 100%
	//background-color: red

.latedt_blog_posts_main_text
	position: relative
	height: 50px
	margin: 70px auto
	width: 320px
	//background-color: pink
	font-family: OpenSansSemiBold
	font-size: 30px
	text-align: center

.blog
	position: relative
	width: 100%
	height: 370px
	//background-color: red

.blog_cont1
	position: relative
	width: 100%
	height: 92px
	//background-color: pink
	background-image: url(../img/blog-1.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin-top: 1px

.blog_cont2
	position: relative
	width: 100%
	height: 92px
	//background-color: pink
	background-image: url(../img/blog-2.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin-top: 1px

.blog_cont3
	position: relative
	width: 100%
	height: 92px
	//background-color: pink
	background-image: url(../img/blog-3.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin-top: 1px

.blog_cont4
	position: relative
	width: 100%
	height: 92px
	//background-color: pink
	background-image: url(../img/blog-4.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	margin-top: 1px

.buttons_box3
	position: relative
	width: 120px
	height: 26px
	margin: 24px auto
	//background-color: red



.blog_cont_up_text1
	margin: 22px auto 0 auto
	position: relative	
	width: 500px
	height: 26px
	text-align: center
	font-size: 12px
	font-family: OpenSansSemiBold

.blog_cont_up_text1 span
	font-family: OpenSansItalic

.blog_cont_down_text1
	margin: 0px auto 
	position: relative
	width: 500px
	height: 32px
	text-align: center
	font-size: 18px
	font-family: OpenSansBold


.want_to_work_with_us_block
	padding: 1px
	position: relative
	width: 100%
	height: 340px
	//background-color: red


.want_to_work_with_us_main_text
	position: relative
	height: 40px
	width: 360px
	//background-color: pink
	margin: 68px auto 0 auto
	font-family: OpenSansBold
	font-size: 32px
	text-align: center

.ping_us_today
	position: relative
	height: 40px
	width: 400px
	margin: 20px auto
	//background-color: pink
	text-align: center
	font-family: OpenSansLight
	font-size: 17px

footer
	
	width: 100%
	background-color: #292a2e


.main_init_block
	position: relative
	width: 80%
	height: 260px
	//background-color: pink
	z-index: 999
	margin: 10px auto

.contant
	position: relative
	width: 200px
	height: 160px
	//background-color: red
	font-family: OpenSansSemiBold
	color: #fff
	padding: 1px

.line
	position: relative
	width: 96%
	height: 2px
	background-color: #aaaaaa
	margin: 40px auto 0 auto


.box_contact_as
	position: relative
	height: 30px
	width: 100%
	margin: 16px auto
	//background-color: brown
	font-size: 18px
	//font-size:

.box_adres 
	position: relative
	height: 50px
	width: 100%
	//background-color: brown
	margin-top: 0px
	font-size: 10px
	line-height: 18px

.box_email
	position: relative
	height: 50px
	width: 100%
	//background-color: brown
	margin-top: 110px
	font-size: 10px
	line-height: 18px

.box_company
	position: relative
	height: 30px
	width: 100%
	margin: 16px auto
	//background-color: brown
	font-size: 18px
	//font-size:

.box_inf
	position: relative
	height: 110px
	width: 100%
	//background-color: brown
	margin-top: 0px
	font-size: 10px
	line-height: 18px

.box_inf a
	color: #fff
	text-decoration: none
	font-size: 10px
	line-height: 20px

.box_news
	position: relative
	height: 30px
	width: 100%
	margin: 16px auto
	//background-color: brown
	font-size: 18px

.box_picture
	position: absolute
	height: 70px
	width: 100%
	margin: 16px auto
	//background-color: brown
	font-size: 18px
	background-image: url(../img/pict_footer.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 200px 
	z-index: 999

.soshial_buttons
	position: absolute
	height: 30px
	width: 100%
	margin: 90px auto

	//background-color: brown
.soshial_buttons_float
	width: 100px
	height: 30px
	float: right
	overflow: hidden
	//background-color: pink

.soshial_buttons1
	position: absolute
	height: 30px
	width: 30px
	//background-color: pink
	background-image: url(../img/in.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 30px 

.soshial_buttons2
	position: absolute
	height: 30px
	width: 30px
	//background-color: pink
	margin-left: 35px
	background-image: url(../img/tv.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 30px 

.soshial_buttons3
	position: absolute
	height: 30px
	width: 30px
	//background-color: pink
	margin-left: 70px
	background-image: url(../img/fa.png)
	background-position: center
	background-repeat: no-repeat
	background-size: 30px 

.bottom_footer
	position: relative
	width: 96%
	height: 60px
	font-size: 10px
	font-family: OpenSansSemiBold
	color: #fff
	margin: 5px auto 0px auto 

.bottom_footer_left
	width: 220px
	height: 30px
	float: left
	overflow: hidden

.bottom_footer_right
	width: 220px
	height: 30px
	float: right
	text-align: right
	overflow: hidden

.slide_buttons_2
	width: 60px
	margin: 20px auto 60px auto

.blog_cont_mb
	padding: 1px

@media only screen and (max-device-width: 662px)
	
	




@media (min-width: 420px)
	//.col-sm-3
	//	width: 50%

.container
	width: 100%

@media only screen and (max-device-width: 480px)


	

	.logo 
		width: 260px
		height: 90px 
		
		margin:
			top: 54px
			left: 54px
		background-size: 200px auto

	.menu
		width: 120px
		height: 90px
		
		margin:
			top: 54px
			right: 54px
		float: right
		background-size: 130px auto
	
	.under_header .container, .row
		margin: 0
		padding: 0
		width: 100%

	.under_header 

		height: 1600px 	
		background-position: -600px 0
		background-repeat: no-repeat
		


	.under_header_text

		width: 90%
		height: 100%
		//background-color: red

	
	.main_text
		width: 100%
		margin: 300px auto 0 auto
		text-align: center
		font-family: "OpenSansSemiBold"


	.main_text h6
		color: #fff
		font-size: 106px

	.under_main_text
		font-size: 50px
		margin-top: 70px

	.slide_buttons
		margin-top: 220px
		width: 100px
		margin: 180px auto 0 auto

	.slide_buttons .container, .row
		padding: 0
		width: 100%
		height: 100%

	.slide_buttons_box 
		width: 50px
		height: 30px
		padding: 0
		//margin: 10px auto
		//background-color: red

	.slide_buttons	
		width: 150px
		height: 70px
		
	.button_v
		height: 0
		width: 0
		

	.button1
		height: 50px
		width: 50px
		border-radius: 50px

	.button2
		height: 50px
		width: 50px
		border-radius: 50px

	.button3
		height: 50px
		width: 50px
		border-radius: 50px

	.under_top_pikture

		height: 100%

	.topick_block
		width: 100%
		height: 260px
		//background-color: red
		margin: 0 auto

	.topick_block_text

		width: 80%
		height: 100px
		text-align: center
		font-size: 100px
		//background-color: pink
		margin: 100px auto 70px auto

	.under_topick_block
		height: 900px

	.includ_ander_topick_block
		margin: 0 auto
		width: 100%
		height: 800px


	.inf_block
		width: 98%
		height: 500px
		margin: 0 auto 140px auto
		//background-color: red


	

	.inf_block_main_text
		height: 120px
		width: 100%
		margin: 30px auto 10px auto
		font-size: 52px
		padding: 3px 0px 0px 3px
		font-family: OpenSansBold
		//background-color: pink

	.inf_block_text
		height: 300px
		width: 425px
		margin: 0 auto
		text-align: center
		font-size: 41px
		line-height: 50px
		//background-color: pink
		padding: 1px

	.inf_block_pict1
		height: 120px
		width: 300px
		//background-color: pinc
		margin: 6px auto
		background-size: 190px auto

	.inf_block_pict2
		height: 120px
		width: 300px
		//background-color: pinc
		margin: 6px auto
		background-size: 150px auto

	.inf_block_pict3
		height: 120px
		width: 300px
		//background-color: pinc
		margin: 6px auto
		background-size: 140px auto

	.inf_block_pict4
		height: 120px
		width: 300px
		//background-color: pinc
		margin: 6px auto
		background-size: 130px auto

	.inf_block_main_text_2
		margin: 40px 0 0 0
		height: 80px 


	.piktures_block1_1
		height: 800px
		background-size: 1700px auto
		background-position: -690px -60px

	.piktures_block1 .container, .row
		margin: 0
		padding: 0

	.piktures_block1_2
		height: 800px
		background-size: 1700px auto
		background-position: center -140px

	.piktures_block2_3
		height: 800px
		background-size: 3200px auto
		background-position: -300px -350px

	.piktures_block2_4
		height: 800px
		background-size: 2400px auto
		background-position: -590px -100px

	.about_us_block_pictures
		height: 1500px

	.icons_maintext_nambers
		height: 340px
		//background-color: red
		width: 90%

	.about_us_block_pictures_icon1
		height: 240px
		width: 240px
		background-size: 240px auto
		//background-color: pink

	.about_us_block_pictures_icon2
		height: 240px
		width: 240px
		background-size: 240px auto
		//background-color: pink

	.about_us_block_pictures_icon3
		height: 240px
		width: 240px
		background-size: 240px auto
		//background-color: pink

	.about_us_block_pictures_icon4
		height: 240px
		width: 240px
		background-size: 240px auto
		//background-color: pink

	.about_us_block_pictures_maintext
		height: 120px
		width: 300px
		//background-color: pink
		left: 340px
		top: 50px
		font-size: 100px

	.about_us_block_pictures_maintext h3
		font-size: 100px

	.about_us_block_pictures_nambers
		height: 80px
		width: 460px
		//background-color: pink
		top: 160px
		left: 340px
		
	.about_us_block_pictures_nambers h6
		font-size: 60px

	.about_us_block_pictures_main
		margin-top: 100px

	.our_latest_works_block_head
		font-size: 96px
		margin: 0 auto 120px auto

	.slide_buttons_2
		width: 60px
		margin: 20px auto 60px auto

	.slide_buttons_2 
		height: 0
		margin: 0
		padding: 0

	.about_us_text_block
		margin-top: 180px
		font-size: 98px
		width: 100%
		height: 80px

	.about_us_block
		height: 360px
		width: 100%

	.ander_about_us_block
		height: 1400px
		background-size: 4300px auto
		background-position: -3200px 0px

	.ander_pikture
		height: 340px

	.button_more_about_us
		width: 740px
		height: 160px
		margin: 80px auto
		font-size: 56px

	.what_people_say_block
		width: 100%
		height: 2360px

	.what_people_say_main_block
		width: 100%
		height: 100px
		margin: 150px auto 0 auto
		font-size: 96px

	.what_people_say_block_ander_text
		width: 900px
		margin: 80px auto 0
		font-size: 60px

	.what_people_say_line_block
		width: 516px
		height: 2px
		margin: 80px auto 10px auto
		opacity: 0.7

	.what_people_say_block_barr 
		width: 380px
		height: 140px
		margin: 120px auto 0
		font-size: 38px

	.slide_buttons_v 
		padding: 1px
		margin: 80px auto
		width: 300px
		height: 70px

	.ander_top_pikture
		height: 1600px

	.firm_block_init1
		background-image: url(../img/order3.png)
	
	.firm_block_init2
		background-image: url(../img/order2.png)

	.firm_block_init3
		background-image: url(../img/order4.png)

	.firm_block_init4
		background-image: url(../img/order1.png)

	.firm_block_init5
		background-image: url(../img/order3.png)

	.firm_block_init6
		background-image: url(../img/order2.png)

	.firm_block_init7
		background-image: url(../img/order4.png)

	.firm_block_init8
		background-image: url(../img/order1.png)

	.firms
		height: 900px
		width: 100%

	.firm_block1
		width: 100%
		height: 800px
		margin-top: 100px

	.firm_block_main
		width: 400px
		height: 180px
		background-size: 360px auto

	.latest_blog_posts
		height: 340px

	.latedt_blog_posts_main_text
		height: 360px
		margin: 160px auto 0px auto
		width: 840px
		font-size: 98px

	.blog
		height: 1120px

	.blog_cont_mb
		height: 280px

	.blog_cont_up_text1
		margin: 40px auto 0 auto
		height: 30px
		width: 800px
		font-size: 28px

	.blog_cont_down_text1
		margin: 20px auto
		height: 100px
		width: 800px
		font-size: 56px
		line-height: 70px

	.blog_cont1_1
		margin-top: 80px

	.want_to_work_with_us_block
		height: 860px

	.want_to_work_with_us_main_text
		height: 240px
		width: 800px
		margin: 68px auto 0 auto
		font-size: 98px

	.ping_us_today
		height: 80px
		width: 800px
		margin: 38px auto
		font-size: 40px

	footer
		height: 2500px

	.main_init_block .container, .col-sm-12
		padding: 0


	.main_init_block
		width: 88%
		height: 100%

	.block_contact_as
		height: 620px

	.box_contact_as
		height: 60px
		margin: 100px auto  0 auto
		font-size: 56px

	.box_adres
		height: 180px
		width: 450px
		margin-top: 60px
		font-size: 34px
		line-height: 60px

	.box_email
		height: 180px
		width: 450px
		margin-top: 80px
		font-size: 34px
		line-height: 60px

	.company
		height: 560px


	.box_company
		height: 70px
		width: 100%
		margin: 140px auto 0 auto
		font-size: 56px


	.box_inf
		height: 300px
		margin-top: 50px

	.box_inf a
		height: 180px
		width: 450px
		margin-top: 60px
		font-size: 34px
		line-height: 60px
		
	.box_news
		margin: 140px auto 0 auto
		font-size: 56px
		height: 70px

	.news
		height: 560px

	.else
		height: 800px
		padding: 1px
		width: 100%

	.box_picture
		top: 400px

	.soshial_buttons
		position: relative
		padding: 1px
		height: 210px
		width: 100%
		margin: 120px auto 100px auto

	.soshial_buttons_float
		position: relative
		margin: 0 70px
		width: 700px
		height: 210px
		padding: 1px

	.soshial_buttons1
		height: 210px
		width: 210px
		margin-left: 500px
		background-size: 180px

	.soshial_buttons2
		height: 210px
		width: 210px
		margin: 0 253px
		background-size: 180px

	.soshial_buttons3
		height: 210px
		width: 210px
		margin-left: 0px
		background-size: 180px

	.box_picture
		height: 300px
		width: 100%
		background-size: 680px

	.line
		margin-top: 0px
		width: 96%

	.bottom_footer_left
		width: 340px
		height: 200px
		font-size: 40px
		line-height: 70px

	.bottom_footer_right
		width: 340px
		height: 200px
		font-size: 40px
		line-height: 70px
		text-align: right

	.contant
		width: 100%

	@media only screen and (max-device-width,: 420px)









	

		




		



	











		



	





























